.Mobile_View_SideMenu {
    z-index: 100;
}

.Mobile_View_SideMenu .box-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
    background: #49A4EB;
    width: 60px;
    height: 60px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
    border-radius: 60px;
    transition: height .4s;
}

.Mobile_View_SideMenu .full-menu {
    height: 300px;
}

.Mobile_View_SideMenu .wrapper {
    position: relative;
    width: 60px;
    height: 60px;
}

.Mobile_View_SideMenu .hamburger {
    position: absolute;
    left: 22px;
    top: 22px;
    width: 16px;
    height: 16px;
}

.Mobile_View_SideMenu .hamburger span {
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transition: all .3s;
}

.Mobile_View_SideMenu .hamburger span:nth-child(1) {
    top: 3px;
}

.Mobile_View_SideMenu .hamburger span:nth-child(2) {
    top: 8px;
}

.Mobile_View_SideMenu .hamburger span:nth-child(3) {
    top: 8px;
}

.Mobile_View_SideMenu .hamburger span:nth-child(4) {
    top: 13px;
}

.Mobile_View_SideMenu .hamburger.active span:nth-child(1) {
    width: 0;
    margin-left: 8px;
}

.Mobile_View_SideMenu .hamburger.active span:nth-child(2) {
    transform: rotate(45deg);
}

.Mobile_View_SideMenu .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
}

.Mobile_View_SideMenu .hamburger.active span:nth-child(4) {
    width: 0;
    margin-left: 8px;
}

.Mobile_View_SideMenu .menu {
    position: relative;
    left: -9999px;
}

.Mobile_View_SideMenu .menu a {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    color: #333;
    text-decoration: none;
    width: 150px;
    height: 58px;
    line-height: 58px;
    font-family: Ubuntu;
}

.Mobile_View_SideMenu .menu a::after {
    content: '';
    position: absolute;
    left: 57px;
    top: 29px;
    height: 0px;
    width: 3px;
    background: #fff;
    transition: height .3s, top .3s;
}

.Mobile_View_SideMenu .menu a.active::after {
    top: 19px;
    height: 20px;
}

.Mobile_View_SideMenu .menu a span {
    opacity: 0;
    display: inline-block;
    font-size: 14px;
}

.Mobile_View_SideMenu .menu a span.icon {
    transform: scale(.5);
    color: #fff;
    font-size: 18px;
    display: inline-block;
    width: 60px;
    text-align: center;
    transition: transform .3s;
}

.Mobile_View_SideMenu .menu a span.text {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .3);
    opacity: 0;
    margin-left: 40px;
    transition: margin .3s, opacity .3s, transform .3s;
}

.Mobile_View_SideMenu .full-menu .menu {
    left: 0;
}

.Mobile_View_SideMenu .full-menu .menu a {}

.Mobile_View_SideMenu .full-menu .menu a:hover span {
    opacity: 1;
}

.Mobile_View_SideMenu .full-menu .menu a span {
    opacity: .8;
}

.Mobile_View_SideMenu .full-menu .menu a span.icon {
    transform: scale(1.1);
}

.Mobile_View_SideMenu .full-menu .menu a span.text {
    margin-left: 25px;
}

.Mobile_View_SideMenu .full-menu .menu a:hover span.text {
    transform: translateX(5px);
    transition-delay: 0s;
}

.Mobile_View_SideMenu .menu a:nth-child(1) span {
    transition: all .5s .1s, opacity .5s 0s, transform .5s 0s;
}

.Mobile_View_SideMenu .menu a:nth-child(2) span {
    transition: all .5s .15s, opacity .5s 0s, transform .5s 0s;
}

.Mobile_View_SideMenu .menu a:nth-child(3) span {
    transition: all .5s .2s, opacity .5s 0s, transform .5s 0s;
}

.Mobile_View_SideMenu .menu a:nth-child(4) span {
    transition: all .5s .25s, opacity .5s 0s, transform .5s 0s;
}